{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
        {% endblock %}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.roles[0] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
